

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+TC:wght@900&display=swap');

.test{
  position: absolute;
  font-size:72px;
  color:red;
  font-weight:normal;
  font-style:italic;
  font-family: 'Italianno','Noto Sans TC', cursive;
  right: 0;
  bottom: 0;
  margin-right:50px;
  outline:3px solid blue;
  transform:rotate(30deg);
  transform-origin:left top;
}


